.containerHeader {
    background-color: #3f1d66;
    color: #fff;
    padding: 17px 21px;
}

.containerPage {
    display: flex;
    align-items: stretch;
    height: 100%;
}

.containerNavigation,
.containerContent {
    flex: 1;
}

.containerNavigation {
    background-color: rgb(233, 233, 233);
    flex: 0 0 205px;
    padding: 23px 18px;
}

.containerContent {
    padding: 23px 36px;
}

.title {
    font-weight: 300;
    padding-bottom: 11px;
    border-bottom: 1px solid #dec5f3;
}
