.container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.containerNavigation {
    align-items: stretch;
    flex: 1;
}

.containerLink {
    margin-bottom: 16px;
}

.hr {
    margin: 20px 0;
    border-color: #eee;
}

.navigationLink {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    padding: 5px 11px;
    border-radius: 5px;
    transition: background-color linear 0.25s;
}

.navigationLink:hover {
    background-color: #3f1d66;
    color: #fff;
    border-radius: 5px;
    padding: 5px11px;
}

.containerFooter {
    position: absolute;
    bottom: 0;
}

.copyright {
    font-size: 12px;
    margin-bottom: 3px;
}

.releaseNotes {
    display: inline-block;
    font-size: 10px;
    background-color: #dbcde6;
    padding: 3px 6px;
    border-radius: 5px;
}
